openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Workflow.start API
  description: The public API for accessing resources in your Ashby instance.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Workflow.start
paths:
  /workflow.start:
    post:
      summary: workflow.start (Implemented by Partner)
      description: ''
      operationId: workflowstart
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_workflow_template_id:
                  type: string
                  description: The id of the workflow you want to start from the list returned by workflow.list
                values:
                  type: array
                  items:
                    properties:
                      fieldId:
                        type: string
                        description: The id of the field to be set on the workflow, based on the fields returned in workflow.info
                      value:
                        type: string
                        description: The value of the field
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"results\": {\n        \"id\": \"string\"\n    }\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        example: string
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Workflow.start
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: "Use HTTP Basic Auth to authenticate with our API. You must send your API key with every request. \nPut your API key as the basic auth username and leave the password blank.\n"
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: '[Optional] If you provide a secret token when configuring your webhook, this will be used to create a digest of the JSON payload sent with each webhook request.

        The digest will be included in the request under the `Ashby-Signature` http header.


        It will look like this:

        `Ashby-Signature: sha256=f3124911d2956f10aa3a49c43a88bdf13bba846e94f0ae2bd7c034f90239bd04`


        The part before the = indicates the algorithm that was used to compute the hash digest.

        '
