openapi: 3.2.0
info:
  title: ashby-api-assessments-partner-implemented-endpoints Workflow.start API
  version: '1.0'
servers:
- url: https://api.ashbyhq.com
security:
- sec0: []
tags:
- name: Workflow.start
paths:
  /workflow.start:
    post:
      summary: workflow.start (Implemented by Partner)
      description: ''
      operationId: workflowstart
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_workflow_template_id:
                  type: string
                  description: The id of the workflow you want to start from the list returned by workflow.list
                values:
                  type: array
                  items:
                    properties:
                      fieldId:
                        type: string
                        description: The id of the field to be set on the workflow, based on the fields returned in workflow.info
                      value:
                        type: string
                        description: The value of the field
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"results\": {\n        \"id\": \"string\"\n    }\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  results:
                    type: object
                    properties:
                      id:
                        type: string
                        example: string
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Workflow.start
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
