openapi: 3.2.0
info:
  title: ashby-api-assessments-partner-implemented-endpoints Workflow.update API
  version: '1.0'
servers:
- url: https://api.ashbyhq.com
security:
- sec0: []
tags:
- name: Workflow.update
paths:
  /workflow.update:
    post:
      summary: workflow.update
      description: Called by the partner to tell Ashby about any status changes to the workflow
      operationId: workflowupdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                  type: integer
                  format: int32
                external_workflow_id:
                  type: string
                external_workflow_status:
                  type: string
                external_workflow_profile_url:
                  type: string
                metadata:
                  type: array
                  items:
                    properties:
                      id:
                        type: string
                      value:
                        type: string
                      type:
                        type: string
                      label:
                        type: string
                      description:
                        type: string
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Workflow.update
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
