openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Source Tracking Links API
  description: The public API for accessing resources in your Ashby instance.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Source Tracking Links
paths:
  /sourceTrackingLink.list:
    post:
      summary: sourceTrackingLink.list
      description: 'List all source custom tracking links


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-sourcetrackinglinklist) permission.**

        '
      operationId: sourcetrackinglinklist
      tags:
      - Source Tracking Links
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeDisabled:
                  type: boolean
                  description: When true, includes disabled tracking links
                  default: false
      responses:
        '200':
          description: Responses for the sourceTrackingLink.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - allOf:
                  - $ref: '#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            code:
                              type: string
                              example: fx9iL4QtWr
                            enabled:
                              type: boolean
                              example: true
                            sourceId:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            link:
                              type: string
                              example: https://jobs.ashbyhq.com/example?utm_source=fx9iL4QtWr
                          required:
                          - id
                          - code
                          - enabled
                          - sourceId
                          - link
                  required:
                  - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: "Use HTTP Basic Auth to authenticate with our API. You must send your API key with every request. \nPut your API key as the basic auth username and leave the password blank.\n"
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: '[Optional] If you provide a secret token when configuring your webhook, this will be used to create a digest of the JSON payload sent with each webhook request.

        The digest will be included in the request under the `Ashby-Signature` http header.


        It will look like this:

        `Ashby-Signature: sha256=f3124911d2956f10aa3a49c43a88bdf13bba846e94f0ae2bd7c034f90239bd04`


        The part before the = indicates the algorithm that was used to compute the hash digest.

        '
