openapi: 3.2.0
info:
  title: ashby-api-assessments-partner-implemented-endpoints Workflow.info API
  version: '1.0'
servers:
- url: https://api.ashbyhq.com
security:
- sec0: []
tags:
- name: Workflow.info
paths:
  /workflow.info:
    post:
      summary: workflow.info (Implemented by Partner)
      description: Detailed information about the workflow
      operationId: workflowinfo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                external_workflow_template_id:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"results\": [\n        {\n            \"external_workflow_template_id\": \"<id>\",\n            \"name\": \"Name of the workflow\",\n            \"description\": \"Description of the workflow\",\n            \"fields\": [\n                {\n                    \"id\": \"id\",\n                    \"title\": \"title\",\n                    \"description\": \"description\",\n                    \"type\": \"type\",\n                    \"isRequired\": true,\n                    \"selectableValues\": [\n                        {\n                            \"label\": \"label\",\n                            \"value\": \"value\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        external_workflow_template_id:
                          type: string
                          example: <id>
                        name:
                          type: string
                          example: Name of the workflow
                        description:
                          type: string
                          example: Description of the workflow
                        fields:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: id
                              title:
                                type: string
                                example: title
                              description:
                                type: string
                                example: description
                              type:
                                type: string
                                example: type
                              isRequired:
                                type: boolean
                                example: true
                                default: true
                              selectableValues:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    label:
                                      type: string
                                      example: label
                                    value:
                                      type: string
                                      example: value
      deprecated: false
      tags:
      - Workflow.info
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
