openapi: 3.2.0
info:
  title: ashby-api-assessments-partner-implemented-endpoints Workflow.list API
  version: '1.0'
servers:
- url: https://api.ashbyhq.com
security:
- sec0: []
tags:
- name: Workflow.list
paths:
  /workflow.list:
    post:
      summary: workflow.list (Implemented by Partner)
      description: ''
      operationId: workflowlist
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"results\": [\n        {\n            \"external_workflow_template_id\": \"id\",\n            \"name\": \"string\",\n            \"description\": \"string\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        external_workflow_template_id:
                          type: string
                          example: id
                        name:
                          type: string
                          example: string
                        description:
                          type: string
                          example: string
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Workflow.list
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
