openapi: 3.1.0
info:
  version: 1.0.0
  title: Ashby API Key Interview Stage Group API
  description: The public API for accessing resources in your Ashby instance.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Interview Stage Group
paths:
  /interviewStageGroup.list:
    post:
      summary: interviewStageGroup.list
      description: 'List all interview group stages for an interview plan in order.


        **Requires the [`interviewsRead`](authentication#permissions-interviewstagelist) permission.**

        '
      operationId: interviewStageGroupList
      tags:
      - Interview Stage Group
      responses:
        '200':
          description: Responses for the interviewStageGroup.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          allOf:
                          - type: object
                            properties:
                              id:
                                $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                              title:
                                type: string
                                example: Technical Screening
                              order:
                                type: integer
                                example: 1
                              stageType:
                                type: string
                                enum:
                                - Lead
                                - PreInterviewScreen
                                - Active
                                - Offer
                                - Hired
                                - Archived
                                example: Active
                            required:
                            - id
                            - title
                            - order
                            - stageType
                    required:
                    - results
                - title: Error response
                  $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: "Use HTTP Basic Auth to authenticate with our API. You must send your API key with every request. \nPut your API key as the basic auth username and leave the password blank.\n"
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: '[Optional] If you provide a secret token when configuring your webhook, this will be used to create a digest of the JSON payload sent with each webhook request.

        The digest will be included in the request under the `Ashby-Signature` http header.


        It will look like this:

        `Ashby-Signature: sha256=f3124911d2956f10aa3a49c43a88bdf13bba846e94f0ae2bd7c034f90239bd04`


        The part before the = indicates the algorithm that was used to compute the hash digest.

        '
