openapi: 3.2.0
info:
  version: 1.0.0
  title: Ashby Archive Reason API
  description: The public API for accessing resources in your Ashby instance.
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
servers:
- url: https://api.ashbyhq.com
security:
- BasicAuth: []
tags:
- name: Archive Reason
paths:
  /archiveReason.list:
    post:
      summary: archiveReason.list
      description: 'Lists archive reasons


        **Requires the [`hiringProcessMetadataRead`](authentication#permissions-archivereasonlist) permission.**

        '
      operationId: archivereasonlist
      tags:
      - Archive Reason
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeArchived:
                  type: boolean
                  description: When true, includes archived interview plans
                  default: false
      responses:
        '200':
          description: Responses for the archiveReason.list endpoint
          content:
            application/json:
              schema:
                oneOf:
                - title: Success Response
                  allOf:
                  - $ref: '#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0'
                  - properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              $ref: '#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId'
                            text:
                              type: string
                              example: Too inexperienced
                            reasonType:
                              enum:
                              - RejectedByCandidate
                              - RejectedByOrg
                              - Other
                              example: RejectedByOrg
                            isArchived:
                              $ref: '#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening/properties/isArchived'
                          required:
                          - id
                          - text
                          - reasonType
                          - isArchived
                  - required:
                    - results
                - $ref: '#/paths/~1report.generate/post/responses/429/content/application~1json/schema'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: "Use HTTP Basic Auth to authenticate with our API. You must send your API key with every request. \nPut your API key as the basic auth username and leave the password blank.\n"
    WebhookSignature:
      type: apiKey
      in: header
      name: Ashby-Signature
      description: '[Optional] If you provide a secret token when configuring your webhook, this will be used to create a digest of the JSON payload sent with each webhook request.

        The digest will be included in the request under the `Ashby-Signature` http header.


        It will look like this:

        `Ashby-Signature: sha256=f3124911d2956f10aa3a49c43a88bdf13bba846e94f0ae2bd7c034f90239bd04`


        The part before the = indicates the algorithm that was used to compute the hash digest.

        '
