{"openapi":"3.1.0","info":{"title":"ashby-api-assessments-partner-implemented-endpoints","version":"1.0"},"servers":[{"url":"https://api.ashbyhq.com"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/workflow.info":{"post":{"summary":"workflow.info (Implemented by Partner)","description":"Detailed information about the workflow","operationId":"workflowinfo","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"external_workflow_template_id":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"results\": [\n        {\n            \"external_workflow_template_id\": \"<id>\",\n            \"name\": \"Name of the workflow\",\n            \"description\": \"Description of the workflow\",\n            \"fields\": [\n                {\n                    \"id\": \"id\",\n                    \"title\": \"title\",\n                    \"description\": \"description\",\n                    \"type\": \"type\",\n                    \"isRequired\": true,\n                    \"selectableValues\": [\n                        {\n                            \"label\": \"label\",\n                            \"value\": \"value\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"external_workflow_template_id":{"type":"string","example":"<id>"},"name":{"type":"string","example":"Name of the workflow"},"description":{"type":"string","example":"Description of the workflow"},"fields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"id"},"title":{"type":"string","example":"title"},"description":{"type":"string","example":"description"},"type":{"type":"string","example":"type"},"isRequired":{"type":"boolean","example":true,"default":true},"selectableValues":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string","example":"label"},"value":{"type":"string","example":"value"}}}}}}}}}}}}}}}},"deprecated":false}},"/workflow.update":{"post":{"summary":"workflow.update","description":"Called by the partner to tell Ashby about any status changes to the workflow","operationId":"workflowupdate","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int32"},"external_workflow_id":{"type":"string"},"external_workflow_status":{"type":"string"},"external_workflow_profile_url":{"type":"string"},"metadata":{"type":"array","items":{"properties":{"id":{"type":"string"},"value":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/workflow.list":{"post":{"summary":"workflow.list (Implemented by Partner)","description":"","operationId":"workflowlist","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"results\": [\n        {\n            \"external_workflow_template_id\": \"id\",\n            \"name\": \"string\",\n            \"description\": \"string\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"external_workflow_template_id":{"type":"string","example":"id"},"name":{"type":"string","example":"string"},"description":{"type":"string","example":"string"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/workflow.start":{"post":{"summary":"workflow.start (Implemented by Partner)","description":"","operationId":"workflowstart","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"external_workflow_template_id":{"type":"string","description":"The id of the workflow you want to start from the list returned by workflow.list"},"values":{"type":"array","items":{"properties":{"fieldId":{"type":"string","description":"The id of the field to be set on the workflow, based on the fields returned in workflow.info"},"value":{"type":"string","description":"The value of the field"}},"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"results\": {\n        \"id\": \"string\"\n    }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"results":{"type":"object","properties":{"id":{"type":"string","example":"string"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":false},"x-readme-fauxas":true}